body{
    background-image: url("../images/middleEarth.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#train-table th, td {
    width: 20%;
    padding: 0px;
    display: inline-block;

}